* {
text-align: center; margin: 4px;
font-family: Arial, sans-serif;
}
h1 {
margin-top: 20px;} p {
font-size: 15px; margin-bottom: 15px;} table, th, td {
border: 3px solid black; border-collapse: collapse;} table {
width: 100%;} th, td { padding: 8px;}
.break {
font-weight: bold;
}
